# SYSTEM

## 每个月1号进行系统备份
# 0 22 1 * * bash /home/walter/.dwm/system-backup.sh


# WORK

# 30 9 * * 1-5 bash /home/walter/.dwm/clock.sh WORK 投简历了小伙子

# HOME


# minute hour day month week[0-6][sunday-saturday] command
0 * 19-31 7 * bash /home/walter/.dwm/tools/clock.sh HOME 搬瓦工VPS续费了吗？

#TEMP

